
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #191919;
    padding-bottom: 1.5rem;
    color: #ffff;
    text-align: center;
    overflow: hidden;
    padding-inline: 1.0rem;
    /* aula 05 */
}